doctype html
html
	head
		title='Login page'
		link(rel='stylesheet', href='style.css')
	body
		section.main
			h1 Hello!
			p click on the button below to go to the login page
			a(href='http://localhost:3000/auth/google', method='GET') click me!
