@import url('https://fonts.googleapis.com/css?family=Tajawal');

body {
    margin: 0 auto;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
}
h1 {
    color: red;
    margin-bottom: 20px;
    font-size: 40px;
}
form {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 50vh;
    margin: 0 auto;
    box-shadow: 1px 1px 2px 2px;
    color: lightgray;
}
.login {
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid lightgray;
}
.login::placeholder {
    font-size: 14px;
}
.btn-1 {
    margin: 30px auto;
    width: 35%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10%;
    box-shadow: 1px 1px;
    border: none;
    cursor: pointer;
    background-color: none;
    outline: none;
}